$color-primary: #2196F3;
$color-secondary: #4CAF50;

$box-shadow: 0 3px 6px rgba(black, 0.16), 0 3px 6px rgba(black, 0.23);

html {
  font-family: Helvetica, sans-serif;

  body {
    margin: 0;
    background: rgba($color-secondary, 0.1);

    .color-primary {
      color: $color-primary;
    }

    .color-secondary {
      color: $color-secondary;
    }

    button {
      background: $color-primary;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 0.5rem;
      margin: 0.5rem;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
